{% extends "base.html" %} {% block content %}
<h1>Prices</h1>
<p>
    You are interested in our courses? Then, you have the option to choose one of our three excellent options.
    Research has shown that our options are the best. TM. 
    Feel free to reach out in case you have any questions!
</p>

<div class="row">
    <div class="col s4">        
        <h3>⚡ Speed up option! ⚡</h3>  
        <h5>42$ / month</h5>      
        <p class="light center">
            You want to speed up your training process?
            Our speed up option is exactly what you need.
            One of our personal trainers creates your personal and Non Fungible Training that fits you best!
        </p>
    </div>
    <div class="col s4">        
        <h3>💻 Online course option! 💻</h3>    
        <h5>21$ / month</h5>          
        <p class="light center">
            You don't have the time to join our gym?
            Then choose the online option.
            24/7 courses as much as you want!    
        </p>
    </div>
    <div class="col s4">                
        <h3>🛏️ Get fit while you sleep! 🛏️</h3>     
        <h5>1337$ / month</h5>         
        <p class="light center">
            You think, exercises are lame and exhausting? You don't want to do them?
            No problem, we have the perfect option for you!
            We do the exercises for you. "Get fit while you sleep" is our option for everyone who doesn't feel like doing sports.
        </p>
    </div>
</div>
{% endblock %}